.singlePost{
    flex: 9;
}
.singlePostwrap{
    padding: 20px;
    padding-right: 0;
}
.singlePostImg{
    width: 100%;
    height: 450px;
    border-radius: 5px;
    object-fit: cover;
}
.title{
    text-align: center;
    margin: 15px;
    font-family: 'Lora', serif;
    font-size: 20px;
}
.edit{
    float: right;
    font-size: 16px;
}
.singleIcon{
  margin-left: 10px;
  cursor: pointer;  
}
.singleIcon:first-child{
    color: teal;
}
.singleIcon:last-child{
    color: tomato;
} .singlePostinfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #b39656;
}
.desc{
    color: #666;
    font-size: 18px;
    line-height: 25px;
}
.desc::first-letter{
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600px;
}